:root {
	--white: hsl(0, 0%, 100%)
	--lightGray: hsl(212, 45%, 89%)
    --grayishBlue: hsl(220, 15%, 55%)
	--darkBlue: hsl(218, 44%, 22%)

}
html * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	

}

body {
	font-family: 'Outfit', sans-serif;
}

.wrapper {
	width: 1440vw;
	height: 1200vh;
	padding: 10px;
	background-color: /*var(--grayishBlue: hsl(220, 15%, 55%))*/ hsl(240, 39%, 90%);
}

img{
	/*width: 375px;
	height: 375px*/
	width: 250px;
	height: 200px;
}

.card {
	width: 300px;
	height: 700px;
	padding: 20px;
	margin:  300px;
	background-color: white;
	text-align: center;
	position: relative;
	border-radius: 20px;
}

.header
.content {
	width: 200px;
	height: 300px;
}
		h3{ 
			justify-content: center;
			color: black;
}

		p{
			color: black;
			opacity: 50%;
		}
		
.content .attribution{
	margin-top: 200px;
	text-size-adjust: 20px;
}
	
		

