:root {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 6df0af46678337a59d077298f5fa69421238ede9
	--white: hsl(0, 0%, 100%)
	--lightGray: hsl(212, 45%, 89%)
    --grayishBlue: hsl(220, 15%, 55%)
	--darkBlue: hsl(218, 44%, 22%)

}
<<<<<<< HEAD
=======
=======
	--white: hsl(0, 0%, 100%);
	--lightGray: hsl(212, 45%, 89%);
	--grayishBlue: hsl(220, 15%, 55%);
	--darkBlue: hsl(218, 44%, 22%);
}

>>>>>>> ee3b56db5d105a2cbb8ea98cac4da915b6e8e471
>>>>>>> 6df0af46678337a59d077298f5fa69421238ede9
html * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	

}

body {
	font-family: 'Outfit', sans-serif;
<<<<<<< HEAD
}

.wrapper {
<<<<<<< HEAD
	width: 1440vw;
	height: 1200vh;
	padding: 10px;
	background-color: /*var(--grayishBlue: hsl(220, 15%, 55%))*/ hsl(240, 39%, 90%);
=======
	width: 1440px;
	height: 1200px;
	padding: 10px;
	background-color: /*var(--grayishBlue: hsl(220, 15%, 55%))*/ hsl(240, 39%, 90%);
=======
	background-color: var(--lightGray);
>>>>>>> ee3b56db5d105a2cbb8ea98cac4da915b6e8e471
>>>>>>> 6df0af46678337a59d077298f5fa69421238ede9
}

img{
	/*width: 375px;
	height: 375px*/
	width: 250px;
<<<<<<< HEAD
	height: 200px;
=======
	height: 250px;
	border-radius: 20px;
	

>>>>>>> 6df0af46678337a59d077298f5fa69421238ede9
}

.card {
	width: 300px;
<<<<<<< HEAD
	height: 500px;
=======
	height: 450px;
>>>>>>> 6df0af46678337a59d077298f5fa69421238ede9
	padding: 20px;
	margin:  300px;
	background-color: white;
	text-align: center;
	position: relative;
	border-radius: 20px;
}

.header
.content {
	width: 200px;
	height: 300px;
}
		h3{ 
			justify-content: center;
			color: black;
}

		p{
			color: black;
			opacity: 50%;
		}
<<<<<<< HEAD
.attribution{
	margin-top: 120px;
	text-size-adjust: 20px;
}
	
		
=======
>>>>>>> 6df0af46678337a59d077298f5fa69421238ede9

